<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <h1>Edit campground</h1>
    <form method="post" action="/campgrounds/<%= campground._id %>?_method=PUT">
        <div>
            <label for="title">Title</label>
            <input type="text" name="campground[title]" id="title" value="<%= campground.title %>">
        </div>
        <div>
            <label for="location">Location</label>
            <input type="text" name="campground[location]" id="location" value="<%= campground.location %>">
        </div>
        <div>
            <label for="price">Price</label>
            <input type="number" name="campground[price]" id="price" value="<%= campground.price %>">
        </div>
        <!-- <div>
            <label for="image">Image</label>
            <input type="text" name="campground[image]" id="image" value="<%= campground.image %>">
        </div> -->
        <div>
            <label for="description">Description</label>
            <textarea name="campground[description]" id="description"><%= campground.description %></textarea>
        </div>
        <button type="submit">Update Campground</button>
    </form>
    <a href="/campgrounds/<%= campground._id %>">Cancel</a>
</body>

</html>