<%= layout("layouts/boilerplate") %>

    


    <div id="map"></div>
    <br>

    <%for(let element of campgrounds){%>
        <div class="card mb-3">
            <div class="row">
                <div class="col-md-4">
                    <% if(element.images.length){%>
                        <img style="height:300px; width: 100%; object-fit: cover;" class="img-fluid"
                            src="<%= element.images[0].url %>" alt="">
                        <%}else{ %>
                            <img style="height:300px; width: 100%; object-fit: cover;" class="img-fluid"
                                src="https://res.cloudinary.com/dzxl21os3/image/upload/v1688973435/YelpCamp/tpzup6sthuydhckh4i1c.jpg"
                                alt="">
                            <% } %>
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">
                            <%= element.title %>
                        </h5>
                        <p class="card-text">
                            <%= element.description %>
                        </p>
                        <p class="card-text ">
                            <small class="text-secondary">
                                <%= element.location %>
                            </small>
                        </p>
                        <a href="/campgrounds/<%= element._id %>" class="btn btn-primary">View <%= element.title %> </a>
                    </div>
                </div>
            </div>
        </div>
        <%} %>
            <script>
                const mapToken = "<%= process.env.MAPBOX_TOKEN %>";
                const campgrounds = { features:<%- JSON.stringify(campgrounds) %> };
            </script>
            <script src="javascripts/clusterMap.js"></script>